<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/login">
        <label for="username">UserName:</label>
        <input id="username" type="text" name="username"> <br><br>
        <label for="password"></label>
        <input id="password" type="password" name="password">  <br><br>
        <input type="submit" value="login" style="cursor: pointer;">
        <br><br><br>
        <a href="http://localhost:1000/signup">signup</a>
    </form>
</body>
</html>